* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Bellefair', serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #292924;
    font-size: 25px;
    color: white; 
}

.month-name {
    text-align: center;
} 

.month ul {
    margin: 0;
    padding: 0;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #878778;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    color: white;    
}

.days {
    padding: 0;
}

.days li {
    padding: 10px 0;
    background: #f3f3f1;
    margin: 0;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:15px;
    color: black;
}